@{

    ViewData["Title"] = "Obtener paradas cercanas";
}

    <div class="text-center">
        Posiciones cercanas: <br/>

        @foreach (var parada in Model)
        {
        <p><button type="button" class="btn btn-success" onclick="window.location='@Url.Action("Cercanas","Paradas")'+'?parada=@parada.numero'"> @parada.numero </button></p>
        }
    </div>
