@{
    ViewData["Title"] = "Utilidades Genéricas";
}

    <div class="text-center">
        <form action="/Paradas/Cercanas" method="get">
            <h1 class="display-3">Obteniendo su posición... <br />(pulse botón para detectar paradas)</h1>
            <input type="text" class="form-control" name="posicion" id="posicion" placeholder="Obteniendo posición...">
            <button type="submit" id="Buscar" class="btn btn-success"> Buscar paradas</button>
        </form>
    </div>


<script type="text/javascript">

  var output = document.getElementById("posicion");
  var boton = document.getElementById("Buscar"); 

    boton.disabled = true;

  if (!navigator.geolocation){
    output.value = "<p>Geolocation is not supported by your browser</p>";
  }

  function success(position) {
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;

      output.value = latitude + '|' + longitude 
      boton.disabled = false;

  };

  function error() {
    output.value = "Unable to retrieve your location";
  };

  output.value = "<p>Locating…</p>";

  navigator.geolocation.getCurrentPosition(success, error);

</script>
