@{
    ViewData["Title"] = "Utilidades Genéricas";
}

<div class="text-center">
    <form action="/Paradas/Cercanas" method="get">
        <h1 class="display-3">Obteniendo posición <br />(pulse para detectar paradas)</h1>
        <div class="form-group mx-sm-3 mb-2">
            <input type="text" class="form-control" name="parada" id="parada" placeholder="Parada o blancos para guardadas">
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="si" checked="checked" name="guardar" id="guardar">
            <label class="form-check-label" for="guardar">
                Guardar y posición actual
            </label>
        </div>
        <div class="form-check">
            <button type="submit" id="Buscar" class="btn btn-success"> Buscar paradas</button>
        </div>
        <div class="form-check">
            <div class="form-group mx-sm-3 mb-2">


                <input type="text" class="form-control" name="posicion" id="posicion" placeholder="Obteniendo posición...">
            </div>
        </div>

    </form>
</div>


<script type="text/javascript">

    var output = document.getElementById("posicion");
    var boton = document.getElementById("Buscar");

    boton.disabled = true;

    var endpoint = 'http://ip-api.com/json/?fields=status,message,lat,lon';

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
            var response = JSON.parse(this.responseText);
            if (response.status !== 'success') {
                output.value = 'query failed: ' + response.message;
                return
            }
            else {
                output.value = response.lat + '|' + response.lon;
            }
        }
    };
    xhr.open('GET', endpoint, true);
    xhr.send();

</script>
